body {
    background-color: beige;
}

#camere {
    display: inline;
    font-family: castellar;
    font-size: 100px;
    color: coral;
}

header {
    background-color: aquamarine;
    display: flex;
    /*justify-content:center;*/
    align-items: center;
}

nav {
    background-color: bisque;
}

.barra {
    text-decoration: none;
    font-size: x-large;
    color: firebrick;
}

 .barra:hover {
        background-color: darksalmon;
 }

 #container{

     background-color:lightblue;

 }
 h3{
     color:darkblue;
 }