body {
    background-color: beige;
}
h1{
    display: inline;
    font-family: castellar;
    font-size: 100px;
    color: coral;
}

header {
    background-color: aquamarine;
    display: flex;
    /*justify-content:center;*/
    align-items: center;
}
#mail{
    text-decoration:underline;
    color:blue;
}